{% extends 'base.html' %}
{% block content %}

    <h1>{{ growingmedia.name }} Details:</h1>

    <div class='card horizontal'>
        <div class='card-content'>
            <span class='card-title'>About:</span>
            <p>{{ growingmedia.description }}</p>
        </div>
        <div class='card-action'>
            <a href='{% url "growing_med_update" growingmedia.id %}' class='light-green-text text-darken-4'>
                Edit
            </a>
        </div>
    </div>

{% endblock %}