{% extends 'base.html' %}

{% block content %}

    <h1>About Plant Collector</h1>
    <h2>Welcome to Plant Collector - Your Personal House Plant Tracker!</h2>

    <p>
        At Plant Collector, we understand the joy and satisfaction of nurturing 
        and growing house plants. Our app is designed to help plant enthusiasts 
        like you manage and track your beloved green companions effortlessly. 
        Whether you are a seasoned plant parent or just starting your plant 
        collection, Plant Collector is here to be your trusted companion on your 
        botanical journey.
    </p>
    <h4>Our Mission:</h4>
    <p>
        At Plant Collector, our mission is to empower and inspire plant lovers to 
        create thriving indoor gardens. We aim to provide you with a user-friendly 
        platform that simplifies plant care and enhances your overall experience as 
        a plant parent. Our app serves as a one-stop solution for all your plant 
        tracking needs, making it easier than ever to cultivate a flourishing 
        indoor oasis.
    </p>
    <h4>Our Commitment:</h4>
    <p>
        At Plant Collector, we are committed to continuously improving our app based 
        on user feedback and the latest advancements in plant care research. We value 
        your input and strive to create a platform that meets the needs and desires 
        of our community.
    </p>
    <p>
        Join us on this exciting journey of cultivating and caring for beautiful 
        houseplants. Sign up on Plant Collector today and watch your green collection 
        thrive like never before!
    </p>
    <h5>Happy Plant Collecting!</h5>

{% endblock %}
