{% extends 'base.html' %}
{% block content %}

    <h1>Welcome!</h1>

    <div class='home-contents'>
        <div>
            <img class='home-page-img' src='https://media.istockphoto.com/id/1305447687/photo/taking-care-of-my-plants.jpg?s=170667a&w=0&k=20&c=EjNdgbfXxjZ4sbjHsy2V9tCxfI0JPHfezMdJaEUwRt8='>
            <img class='home-page-img' src='https://thumbs.dreamstime.com/b/senior-man-standing-room-plant-pots-housplants-taking-care-house-plants-concentrating-spraying-water-to-asian-195772439.jpg'>
        </div>
        <div>
            <h2>Sign up today, for happier and healthier plants tomorrow!</h2>
        </div>
        <div>
            <img class='home-page-img' src='https://as1.ftcdn.net/v2/jpg/02/73/68/68/1000_F_273686810_tcOyVu78juXQwjFBx1dI5ncqMBeXGDk0.jpg'>
            <img class='home-page-img' src='https://img.freepik.com/premium-photo/inspired-female-florist-stands-athome-with-potted-flower-takes-care-plants-surrounded-by-paper-bags-full-fertilized-soil-works-home-garden-dressed-casually-floriculture-spring-planting_747379-8465.jpg?w=2000'>
        </div>
    </div>

{% endblock %}