body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper, .page-footer {
    font-family: 'Raleway', sans-serif;
}

footer.page-footer {
    padding-top: 0;
    text-align: left;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 3.5vh;
}

h4 {
    font-size: 2.5vh;
}

h5 {
    font-size: 2vh;
    padding-bottom: 5%;
}

.home-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-img {
    width: 25vw;
    padding: 2%;
}